main.comics{
  text-align: left;
  background-color: #1c1c1c;
  color: white;
  .clearfix::after{
    display: table;
    content: '';
    clear: both;
  }
  height: fit-content;
  .container{
    width: 90%;
    margin: 0 auto;
  }
  .main-left{
    
    float: left;
    width: 30%;
    /* background-color: red; */
    li{
      cursor: pointer;
      padding: 5px 10px;
      border: 1px solid black;
      margin-bottom: 10px;
    }
    li.active{
      background-color: red;
    }
  }
  .main-right{
    float: left;
    width: 69%;
    /* background-color: green; */
    border-left: 2px solid gray;
    margin-left: 1%;
    height: 100%;
    padding: 5px 10px;
    img{
      margin-top: 15px;
      width: 250px;
      border: 1px solid white;
    }
  }
}